= form_for @volume, url: admin_journal_volumes_path(params[:journal_id]), html: {autocomplete: "off"} do |f|
  - content_for :notification_alert do
    error

  #page_content
    .table-container
      %table.table.table-form
        %tr
          %td
            Title
          %td
            = f.text_field :title

  %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
    Save

  = link_to 'Cancel', admin_journal_volumes_path, class: 'button button-link'

  - unless @volume.new_record?
    .pull-right= link_to 'Delete', admin_journal_volume_path(@volume), method: :delete, confirm: 'Are you sure?', class: 'button button-link button-danger'
