= form_for [:admin_journal, @volume], html: { autocomplete: 'off' } do |f|
  = render Spina::Forms::GroupComponent.new(label: Spina::Admin::Journal::Volume.human_attribute_name(:number),
                                            description: t('.unchangeable')) do
    = f.number_field :number, disabled: true
