= form_for @journal, html: {autocomplete: "off"} do |f|
  - content_for :notification_alert do
    error

  #page_content
    .table-container
      %table.table.table-form
        %tr
          %td
            Name
          %td
            = f.text_field :name

  %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
    Save

  = link_to 'Cancel', admin_journal_journals_path, class: 'button button-link'

  - unless @journal.new_record?
    .pull-right= link_to 'Delete', admin_journal_journal_path(@journal), method: :delete, confirm: 'Are you sure?', class: 'button button-link button-danger'
