- if sortable?
  .ml-8.mt-8.text-gray-600.text-sm= t 'spina.admin.journal.sort_info'
.my-6.md:m-8.bg-white.md:rounded-lg.border-l-0.border-r-0.border.md:border-r.md:border-l.border-gray-200.border-b-0.shadow-sm{ data: { controller: 'sortable' } }
  = form_with(url: @sort_path, data: { sortable_target: 'form' }) { |f| }
  %ul{ data: { sortable_target: 'list' } }
    - if @list_items.any?
      - @list_items.each do |item|
        = render Spina::Admin::Journal::ListItemComponent.new(id: item[:id], label: item[:label], path: item[:path], sortable: sortable?)
    - else
      = render Spina::Admin::Journal::EmptyListComponent.new
