%tr{ data: { id: institution.id } }
  %td
    = link_to institution.name, edit_admin_journal_institution_path(institution)
  %td
    = institution.affiliations.count
  %td.nowrap.align-right
    = link_to edit_admin_journal_institution_path(institution), class: 'button button-link' do
      -#= heroicon 'pencil-alt', style: :outline
      = t '.edit'
